@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #111827;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #8b5cf6;
  color: white;
}
